.DS_Store
.git.bfg-report/
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
RUNNING_PID
/.settings
bin
output
input
lib
.target
build.properties
index-folder/en/
index-folder/sp/
index-folder/
equian-resources/
.metadata
xpresso.jardesc
models/
bfg.jar
bin/
data/*.model
*.model
*.jar
.git.bfg-report
.externalToolBuilders/
